<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Commands</title>
</head>
<script>
let commands = <%- JSON.stringify(commands) %>;
</script>
<body class="commands_page">
  <div class="sidebar">
    <div class="sidebar-top">
      <%- include ("sidebar.ejs") %>
    </div>
    <div class="sidebar-bottom">
      <a class="sidebar-option center">
        <div class="option_text <%= authenticated ? 'green' : 'red' %>">
          <%= authenticated ? "You are authenticated." : "You are not authenticated." %>
        </div>
      </a>
      <a class="sidebar-option" tab="back">
        <div class="option_text">
          <icon>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2"> <path d="M5 12l14 0"></path> <path d="M5 12l4 4"></path> <path d="M5 12l4 -4"></path> </svg> 
          </icon>
          Back
        </div>
      </a>
    </div>
  </div>
  <table class="commands settings-container">
    <tbody class="table-data">
      <tr>
        <th>Command</th>
        <th>Description</th>
        <th>Usage</th>
        <th>Auth?</th>
      </tr>
    </tbody>
  </table>
  <div class="footer">
    <div class="footer-text">
      Made with ❤️ by <a href="https://github.com/zNotChill/subathon-timer" target="_blank">zNotChill</a>. &copy; 2024
    </div>
  </div>
</body>
<%- include ("core.ejs") %>
</html>