<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Subathon Timer</title>
</head>
<style>
@import url(https://fonts.bunny.net/css?family=chivo-mono:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|fira-code:300,400,500,600,700|inter:100,200,300,400,500,600,700,800,900|manrope:200,300,400,500,600,700,800|montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);

:root {
  --font-size: 1em;
  --font-family: 'Inter', sans-serif;
  --font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
  user-select: none;
}

.subathon-container {
  width: 500px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.timer {
  font-weight: bold;
  position: relative;
}

.timer .text {
  font-family: "Chivo Mono", monospace;
  font-size: 70px;
  font-weight: 600;
  display: flex;
}

.timer .text .colon {
  width: 25px;
  display: flex;
  justify-content: center;
}

.notification-container {
  position: absolute;
  top: -15px;
  right: 0;
  text-align: right;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification_user {
  font-family: "Chivo Mono", monospace;
}
.notification_tag {
  padding: 5px 9px;
  border-radius: 5px;
  margin-left: 10px;
}

.notification_tag.small {
  padding: 2px 5px;
  font-size: 19px;
  margin-right: 10px;
}

.progress-bar {
  width: 500px;
  height: 100px;
  border-radius: 25px;
  position: relative;
}

.progress-bar .progress {
  width: 50%;
  height: 100%;
  border-radius: 25px;
  background-color: #2c2c2c;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.progress-bar .text {
  font-size: 48px;
  font-family: var(--font-family);
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  text-align: center;
}

.multiplier {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}

.next-goal {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  align-items: center;
}

.next-goal .text {
  font-weight: bold;
  margin: 10px;
}

.next-goal .money-required {
  font-size: 24px;
  font-weight: bold;
  margin-right: 10px;
}

.next-goal .goal-title {
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
}

.tag-color {
  color: #fff;
}

.chivo-mono {
  font-family: "Chivo Mono", monospace;
}

.paused-icon {
  position: absolute;
  font-size: 50px;
  color: #fff;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -80px;
}

.paused-icon svg {
  height: 100%;
  width: 100%;
}

</style>
<body>
  <div class="subathon-container">
    <div class="timer">
      <div class="notification-container">
        <div class="notification_user">
          hpqyy
        </div>
        <div class="notification_tag">
          +100 seconds
        </div>
      </div>
      <div class="paused-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2"> <path d="M6 5m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v12a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z"></path> <path d="M14 5m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v12a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z"></path> </svg> 
      </div>
      <div class="text">
        <div class="hours">
          54
        </div>
        <div class="colon">:</div>
        <div class="minutes">
          11
        </div>
        <div class="colon">:</div>
        <div class="seconds">
          42
        </div>
      </div>
    </div>
    <div class="progress-bar">
      <div class="progress"></div>
      <div class="text">
        <div class="text">
          150$/200$
        </div>
        <div class="current-goal">
          New emote
        </div>
      </div>
      <div class="multiplier">
        <span class="multi chivo-mono tag-color">2x</span> rates
      </div>
    </div>
    <div class="next-goal">
      <div class="text">
        Goal
      </div>
      <div class="money-required tag-color chivo-mono">
        $250
      </div>
      -
      <div class="goal-title">
        New emote
      </div>
    </div>
  </div>
</body>
<script>
const currencies = {
  "USD": "$",
  "EUR": "€",
  "GBP": "£",
  "JPY": "¥",
  "CNY": "¥",
  "RUB": "₽",
  "KRW": "₩",
  "INR": "₹",
  "BRL": "R$",
  "CAD": "$",
  "AUD": "$",
  "MXN": "$",
  "IDR": "Rp",
  "TRY": "₺",
  "ZAR": "R",
  "HKD": "$",
  "PHP": "₱",
}

let data = <%- JSON.stringify(info) %>;
let lastDataUpdate = 0;

function update() {
  const timers = document.querySelectorAll('.timer');
  const notifications = document.querySelectorAll('.notification-container');

  const progress_bars = document.querySelectorAll('.progress-bar');

  const next_goals = document.querySelectorAll('.next-goal');

  const tag_color = document.querySelectorAll('.tag-color');

  tag_color.forEach(tag => {
    tag.style.color = "<%= data.options.sub_notif_tag_color %>";
  });

  document.querySelector(".next-goal .text").style.color = "<%= data.options.sub_notif_text_color %>";

  timers.forEach(timer => {
    timer.style.color = "<%= data.options.timer_color %>";

    if (data.paused) {
      timer.style.color = "<%= data.options.timer_paused_color %>";
      timer.querySelector(".paused-icon").style.display = "flex";
      timer.querySelector(".paused-icon svg").style.fill = "<%= data.options.timer_paused_color %>";
      timer.querySelector(".paused-icon svg").style.stroke = "<%= data.options.timer_paused_color %>";

    } else {
      timer.querySelector(".paused-icon").style.display = "none";
    }

    timer.querySelector('.text .hours').innerText = String(formatSeconds(data.timer).hours).padStart(2, '0');
    timer.querySelector('.text .minutes').innerText = String(formatSeconds(data.timer).minutes).padStart(2, '0');
    timer.querySelector('.text .seconds').innerText = String(Math.floor(formatSeconds(data.timer).seconds)).padStart(2, '0');
  });

  if (data.most_recent_event) {
    notifications.forEach(notification => {
      notification.style.opacity = 1;
      notification.style.top = "calc(-15px - <%= data.options.sub_notif_vertical_gap %>px)";

      const notification_users = notification.querySelectorAll('.notification_user');
      const notification_tags = notification.querySelectorAll('.notification_tag');

      notification_users.forEach(notification_user => {
        notification_user.style.color = "<%= data.options.sub_notif_text_color %>";
        notification_user.innerText = data.most_recent_event.user_name;
      });

      notification_tags.forEach(notification_tag => {
        notification_tag.style.backgroundColor = "<%= data.options.sub_notif_tag_color %>";
        notification_tag.style.color = "<%= data.options.sub_notif_tag_text_color %>";
        notification_tag.innerText = `+${formatSeconds(data.most_recent_event.duration * data.most_recent_event.multiplier).string}`;
      });
    });
  } else {
    notifications.forEach(notification => {
      notification.style.opacity = 0;
    });
  }

  progress_bars.forEach(progress_bar => {
    progress_bar.style.backgroundColor = "<%= data.options.bar_empty_color %>";

    const progresses = progress_bar.querySelectorAll('.progress');
    const progress_texts = progress_bar.querySelectorAll('.text');

    progresses.forEach(progress => {
      progress.style.backgroundColor = "<%= data.options.bar_filled_color %>";
    });

    progress_texts.forEach(progress_text => {
      progress_text.style.color = "<%= data.options.text_color %>";

      progress_text.innerText = currencies[data.currency] + formatNumber(data.donations) + "/" + currencies[data.currency] + data.current_goal.goal;
    
      if (data.current_goal.goal === 0) {
        progress_text.innerText = currencies[data.currency] + data.donations
      }

      animateProgressBar(data.donations, data.current_goal.goal, 1);
    });
  });

  document.querySelectorAll(".multiplier").forEach(multiplier => {
    if (data.multiplier > 1) {
      multiplier.style.display = "block";
      multiplier.querySelector('.multi').innerText = `${data.multiplier}x`;
      multiplier.style.color = "<%= data.options.text_color %>";
    } else {
      multiplier.style.display = "none";
    }
  });

  next_goals.forEach(next_goal => {
    next_goal.style.color = "<%= data.options.text_color %>";
    next_goal.style.paddingTop = "<%= data.options.next_goal_vertical_gap %>px";

    const money_required = next_goal.querySelector('.money-required');
    money_required.innerText = currencies[data.currency] + data.current_goal.goal;

    const goal_title = next_goal.querySelector('.goal-title');
    goal_title.innerText = data.current_goal.title;
  });
}

setInterval(async () => {
  if (Date.now() - lastDataUpdate > 1500) {
    const response = await fetch('/api/timer');
    data = await response.json();
    lastDataUpdate = Date.now();
  };

  // Even if the data isn't synced properly,
  // the timer will still update to avoid
  // poor user experience

  if (!data.paused && data.timer > 0) {
    data.timer = data.timer - 1;
  }

  update();
}, 1000);

update();

function animateProgressBar(previous, current, duration) {
  const progress = document.querySelector('.progress-bar .progress');

  let percent = (previous / current) * 100;

  if (percent > 100) percent = 100;

  progress.style.width = `${percent}%`;
  progress.style.transition = `width ${duration}s linear`;
}

function formatSeconds(seconds) {
  const hours = Math.floor(seconds / 3600);
  const minutes = Math.floor((seconds % 3600) / 60);
  const remainingSeconds = seconds % 60;

  let string = "";

  if (hours > 0) {
    string += `${String(hours).padStart(2, '0')}:`;
  }

  string += `${String(minutes).padStart(2, '0')}:${String(Math.floor(remainingSeconds)).padStart(2, '0')}`;

  return {
    hours,
    minutes,
    seconds: remainingSeconds,
    string
  };
}

function formatNumber(number) {
  return parseFloat(number).toFixed(2);
}

// Reload the page every 3 minutes
// incase any data is out of sync
// or the page is stuck
// or the page config has changed
setInterval(() => {
  document.location.reload();
}, 3 * 1000 * 60);
</script>
</html>